<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Suite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>AI Suite</h1>
        <div class="section">
            <h2>Supervised Learning</h2>
            <a href="{{ url_for('classification') }}">
                <div class="box">Classification</div>
            </a>
            <div class="box">Regression</div>
        </div>
        <div class="section">
            <h2>Unsupervised Learning</h2>
            <div class="box">Clustering</div>
            <div class="box">Dimensionality Reduction</div>
        </div>
    </div>
</body>
</html>
